name: Deploy Frontend

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH into EC2 and Deploy
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.EC2_HOST_MAIN}}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            if [[ "${{ github.ref_name }}" == "main" ]]; then
              echo "Deploying to Production"
              cd /repos/MemonFoundation-Frontend
            elif [[ "${{ github.ref_name }}" == "dev" ]]; then
              echo "Deploying to Development"
              cd /repos/MemonFoundation-Frontend 
            fi

            echo "Pulling Latest Code"
            git pull origin ${{ github.ref_name }}

            echo "Install Packages & Build"
            npm install --no-legacy --force
            npm run build

            # Copy built files to the appropriate directory
            if [[ "${{ github.ref_name }}" == "main" ]]; then
              cp -r dist /var/www/html/prod
            elif [[ "${{ github.ref_name }}" == "dev" ]]; then
              cp -r dist /var/www/html/dev
            fi
